body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
}

.timer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

body {
    font-family: Arial;
    color: rgb(255, 255, 255);
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 0px;
  }

  .higher{
    z-index: 2;
    pointer-events: none; 
  }
  
  .left {
    left: 0;
    background-color: #111;
  }
  
  .right {
    right: 0;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }